.header {
    background-color: var(--sub-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 10px 25px;
}


.headerWrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .headerWrapper {
        flex-direction: row;
    }
}


// Nav styling

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
} 

.navBar {
    display: none;

    @media screen and (min-width: 1050px) {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navLink {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--alt-foreground);
        transform: translateY(-3px);
    }
}

// Mobile Nav styling

.mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1050px) {
        display: none;

    }
}

.mobileNavLinks {
    display: none;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

.mobileNavIcon {
    width: 30px;
    height: auto;
}

// Search input styling

.gameSearch {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameSearchInput {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    width: 250px;
    height: 40px;
    margin-right: 15px;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s ease-in-out;
        }
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: var(--alt-foreground);
        outline: none;

            &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s ease-in-out;
        }
    }
}

.gameSearchButton {
    padding: 7px 15px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: var(--alt-foreground);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--foreground);
        color: var(--alt-foreground);
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}