.header {
    background-color: var(--sub-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 10px 25px;
    position: relative;
}


.headerWrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}


@media screen and (max-width: 400px) {
    .logo {
    width: 175px;
    height: auto;
    }
}



// Nav styling

.navSearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
} 

.navBar {
    display: none;

    @media screen and (min-width: 1050px) {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navLink {
    font-family: var(--font-roboto), sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--alt-foreground);
        transform: translateY(-3px);
    }
}

// Mobile Nav styling

.mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1050px) {
        display: none;

    }
}

.mobileNavLinks {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    animation: growDown 0.5s forwards;
    transform-origin: top;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    } 100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.navLinkMobile {
    font-family: var(--font-roboto), sans-serif;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 20px 0 20px 25px;
    width: 100%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        
        .mobileNavLinkText {
            color: var(--alt-foreground);
            transform: translateY(-3px);
        }
    }
}

.mobileNavLinkText {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
}

.mobileNavDivider {
    color: var(--alt-foreground);
    background-color: var(--alt-foreground);
    border: none;
    border-radius: 1px;
    height: 2px;
    width: calc(100% - 50px);
}


.mobileNavIcon {
    width: auto;
    height: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;

    &:hover {
        color: var(--alt-foreground);
        transform: translateY(-3px);
    }

    @media screen and (min-width: 1050px) {
        display: none;

    }
}

.mobileNavToggleButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



// Search input styling

.gameSearch {
    display: none;
}

@media screen and (min-width: 768px) {
    .gameSearch {
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.gameSearchInput, .gameSearchInputMobile {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    border: none;
    width: 250px;
    height: 40px;
    margin-right: 15px;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s ease-in-out;
        }
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.3);
        outline: none;

            &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.2s ease-in-out;
        }
    }
}

.gameSearchButton, .gameSearchButtonMobile {
    cursor: pointer;
    padding: 7px 15px;
    font-size: 18px;
    font-family: var(--font-roboto), sans-serif;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    color: white;

    &:hover {
        background-color: transparent;
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}

// Game search header mobile 

.mobileSearch {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .mobileSearch {
        display: none;
    }
}
.gameSearchMobileForm {
    display: flex;
    align-items: center;
    justify-content: center;
}


.gameSearchMobileContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    animation: growDown 0.5s forwards;
    transform-origin: top;
}

.searchIcon {
    width: auto;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
    
    &:hover {
        color: var(--alt-foreground);
        transform: translateY(-3px);
    }
}

@media screen and (min-width: 768px) {
    .searchIcon {
        display: none;
    }
}

.mobileSearchToggleButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


// Utility class for mobile nav and search button toggle
.show {
    display: flex;  
}
