@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    max-width: 350px;
    min-height: 250px;
    border: 2px solid var(--button);
    border-radius: 2px;
    padding: 50px;
    background-color: var(--alt-background);
    animation: fadeInUp 0.3s ease-in-out forwards;
}

.userReview {
    width: 100%;
}

.authorName {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
}

.profileLink {
    text-decoration: none;
    color: var(--alt-foreground);
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--foreground);
        transform: translatey(-5px);
    }
}

.reviewScore {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.reviewText {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 16px;
}

.deleteBtn, .rateBtn {
    border-radius: 2px;
    border: none;
    background-color: var(--button);
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }
}