.review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 350px;
    min-height: 250px;
    border: 2px solid var(--button);
    border-radius: 2px;
}