.wrappingLink {
    display: block;
    width: 100%;
    max-width: 1000px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.gameInfoContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-background);
    border: 2px solid var(--alt-foreground);
    border-radius: 2px;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: var(--border);
        scale: (1.01);
    }
}

.gameArt {
    width: 100px;
    height: 96px;
    position: relative;
    flex-shrink: 0;
    @media screen and (min-width: 500px) {
        width: 176px;
    }
}

.gameArt img {
    object-fit: cover;
}

.gameNameAndScoreContainer {
    min-width: 0;
    flex: 1 1 0;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 10px;
}

.gameStats {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.gameStat {
    font-family: var(--font-roboto), sans-serif;
    font-size: 12px;
    @media screen and (min-width: 500px) {
        font-size: 16px;
    }
}

.gameName {
    font-family: var(--font-poppins), sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;

    @media screen and (min-width: 500px) {
        font-size: 18px;
    }
}