.wrappingLink {
    display: block;
    width: 100%;
    max-width: 1000px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.gameInfoContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-background);
    border: 2px solid var(--alt-foreground);
    border-radius: 2px;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: var(--border);
        scale: (1.01);
    }
}

.gameArt {
    width: 176px;
    height: 96px;
    position: relative;
}

.gameArt img {
    object-fit: cover;
}

.gameNameAndScoreContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
}

.gameName {
    font-family: var(--font-poppins), sans-serif;
    font-weight: bold;
    font-size: 18px;
}