.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 500px;
    background-image: url("../../../public/arcade.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 8px var(--button); 
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 25px 20px;
    background-attachment: fixed;
}

.heroTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--alt-foreground);

    @media screen and (min-width: 800px) {
        font-size: 60px;
    }
}

.greeting {
    font-family: var(--font-roboto), sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    color: var(--alt-foreground);
}

.heroDescription {
    font-family: var(--font-roboto), sans-serif;
    font-size: 22px;
    text-align: center;
}

.logInButton {
    border-radius: 2px;
    border: none;
    background-color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 25px;

    &:hover {
        background-color: var(--foreground);
        color: var(--sub-background);
    }
}