.tempHeading {
  background-color: var(--background);
  color: var(--foreground);
}

.page {
  width: 100%;
  height: calc(100% - 100px);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}