.tempHeading {
  background-color: var(--background);
  color: var(--foreground);
}

.page {
  width: 100%;
  min-height: calc(100% - 300px);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 10px;
}

.tempHeading {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 800;
  font-size: 38px;
}