.profileTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 38px;
    font-style: bold;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border: 2px solid var(--border);
    width: 100%;
    max-width: 1200px;
    padding: 50px 10px;
}