.userProfileMain {
    padding: 50px 25px;
}

.profileTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border: 2px solid var(--border);
    border-radius: 2px;
    width: 100%;
    max-width: 1400px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button);
}

.statContainer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.reviewContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 200px;
    gap: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 830px) {
        max-width: 725px;
        justify-content: start;
    }

    @media screen and (min-width: 1175px) {
        max-width: 1100px;
        justify-content: start;
    }
}


.totalReviews, .score {
    font-family: var(--font-roboto), sans-serif;
    font-weight: bold;
    font-size: 18px;
}