.gamePageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 10px;
}

.gameTitle {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
    }
}

.releaseDate {
    font-size: 18px;
    font-family: var(--font-roboto), sans-serif;
}


.gameHeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 550px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        height: 850px;
    }
}

.gameArtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}

.gameArt {
    object-fit: contain;
}

.screenshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 400px;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        min-height: 700px;
    }
}

.screenshotsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.gameReviewStats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 400px;
    margin-bottom: 25px;
}

.statsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 28px;
    text-align: center;
}

.statsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.scoreContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.score, .totalReviews {
    font-family: var(--font-roboto), sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.gameReviewsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-background);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    min-height: 400px;
    margin-bottom: 25px;
}

.reviewsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 28px;
    text-align: center;
}

.submitReviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    min-height: 400px;
    margin-bottom: 25px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.submitReviewTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 28px;
    text-align: center;
}

.inputLabel {
    font-family: var(--font-roboto), sans-serif;
    font-size: 20px;
    margin: 25px 0 10px 0;
}

#reviewScoreInput, #reviewInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    }
}

.button {
    padding: 5px 20px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}