.gamePageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gameTitle {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.gameHeroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 400px;

    @media screen and (min-width: 768px) {
        height: 700px;
    }
}

.gameArtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}

.gameArt {
    object-fit: contain;
}

.screenshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    min-height: 700px;
    flex-wrap: wrap;
}

.screenshot {
    width: 250px;
    height: 150px;
    position: relative;
}