.gamePageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 300px);
}

.gameTitle {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    text-align: center;
}

.gameHeroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 100vw;
}

.gameArtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 700px;
    position: relative;
}

.gameArt {
    object-fit: contain;
}