.gamePageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 10px;
}

.gameTitle {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
    }
}

.releaseDate {
    font-size: 18px;
    font-family: var(--font-roboto), sans-serif;
}


.gameHeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 550px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        height: 850px;
    }
}

.gameArtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}

.gameArt {
    object-fit: contain;
}

.screenshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-background);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 10px 10px 10px 5px black; 
    width: 100%;
    max-width: 1400px;
    height: 400px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        min-height: 700px;
    }
}


