.gamesMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 25px;
}

.gamesTitle {
    font-family: var(--font-poppins);
    font-size: 38px;
    font-style: bold;
    text-align: center;
    margin-bottom: 50px;
}

.gamesContainer {
    background-color: var(--sub-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    max-width: 1400px;
    border-radius: 2px;
    padding: 50px 25px;
    gap: 10px;
    box-shadow: 0px 0px 8px 8px var(--button);
}