.featureSection {
    width: 100%;
    max-width: 1400px;
    padding: 50px 25px;
    background-color: var(--sub-background);
    border-radius: 2px;
    box-shadow: 0px 0px 8px 8px var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.featureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 550px;

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.featureContainer:first-of-type {
    flex-direction: column-reverse;

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.textContainer {
    width: 100%;
    
    @media screen and (min-width: 800px) {
        width: 60%;
        padding: 10px 25px;
    }
}

.imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 50px;
    
    @media screen and (min-width: 800px) {
        width: 40%;
        margin-bottom: 0;
    }
}

.image {
    object-fit: cover;
    border-radius: 2px;
}

.featureTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.featureText {
    font-family: var(--font-roboto), sans-serif;
    font-size: 18px;
}