.featureSection {
    width: 100%;
    max-width: 1400px;
    padding: 50px 25px;
    background-color: var(--sub-background);
    border: 2px solid var(--border);
    border-radius: 2px;
    box-shadow: 10px 10px 10px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.featureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.featureContainer:first-of-type {
    flex-direction: column-reverse;

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.textContainer {
    width: 80%;
    padding: 10px 25px;

    @media screen and (min-width: 800px) {
        width: 60%;
    }
}

.imageContainer {
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 800px) {
        width: 40%;
    }
}

.image {
    padding: 25px;
    object-fit: cover;
}

.featureTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.featureText {
    font-family: var(--font-roboto), sans-serif;
    font-size: 18px;
}