.logInMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    padding: 50px 25px;
    border-radius: 2px;
    width: 350px;
    gap: 50px;
    border: 2px solid (rgba(255, 255, 255, 0.2));
    box-shadow: 10px 10px 10px 5px black;
}

.logInTitle {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}