.signUpMain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 25px;
}

.signupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    padding: 50px 25px;
    border-radius: 2px;
    width: 350px;
    gap: 50px;
    box-shadow: 0px 0px 8px 8px var(--button);
}

.signUpTitle {
  font-family: var(--font-poppins), sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input {
  padding: 10px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 14px;
}

.button {
  padding: 5px 20px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--button);
  border: 2px solid transparent;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  &:active {
    color: white;
    background-color: var(--sub-background);
    border: 2px solid white;
  }
}