.signUpMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}