.reviewMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: (--alt-foreground);
    padding: 50px 25px;
    gap: 50px;
}

.reviewContainer, .leaveCommentContainer, .commentsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    width: 100%;
    max-width: 1400px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button);
}

.reviewRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.reviewHeading {
    font-family: var(--font-poppins), sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.reviewTitle {
    font-style: italic;
}

.divider {
    width: 90%;
    border: 1px solid var(--button);
    margin: 50px 0;
}

.commentsRows {
    min-height: 200px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 800px) {
        max-width: 725px;
        justify-content: start;
    }

    @media screen and (min-width: 1175px) {
        max-width: 1100px;
        justify-content: start;
    }
}

.commentsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    margin-bottom: 50px;
}

.commentForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.inputLabel {
    font-family: var(--font-roboto), sans-serif;
    font-size: 20px;
    margin: 25px 0 25px 0;
}

#commentInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid var(--button);
    border-radius: 2px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    color: var(--foreground);
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    }
}

.submitBtn {
    padding: 5px 20px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 25px;
    cursor: pointer;
    color: var(--foreground);

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }

    &:active {
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}


