.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 350px;
    min-height: 250px;
    border: 2px solid var(--button);
    border-radius: 2px;
    padding: 50px;
    background-color: var(--alt-background);
}

.authorName {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
}

.commentText {
    font-family: var(--font-roboto), sans-serif;
    text-align: left;
    font-size: 16px; 
}

.deleteButton {
       border-radius: 2px;
    border: none;
    background-color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }
}