.topGamesSection {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    box-shadow: 0px 0px 8px 8px var(--button);
    padding: 50px 25px; 
    gap: 50px;
}

.topGamesTextContainer {
    width: 100%;
}

.topGamesTitle {
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.topGames {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    @media screen and (min-width: 900px) {
        flex-direction: row;
        height: 275px;
    }
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--alt-background);
    padding: 25px;
    gap: 25px;
    border: 2px solid var(--alt-foreground);
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--border);
        scale: (1.01);
    }
}

.wrapperLink {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    height: 100%;

    @media screen and (min-width: 900px) {
        width: 40%;
    }
}

.gameArt {
    width: 200px;
    height: 96px;
    position: relative;
    flex-shrink: 0;
}

.gameArt img {
    object-fit: cover;
}

.gameTitle {
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: bold;
}