.gamePageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 10px;
    padding: 50px 25px;
}

.gameTitle {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.releaseDate {
    font-size: 18px;
    font-family: var(--font-roboto), sans-serif;
}


.gameHeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button); 
    width: 100%;
    max-width: 1400px;
    height: 575px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        height: 875px;
    }
}

.gameArtBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
}

.gameArt {
    object-fit: contain;
}

.screenshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button); 
    width: 100%;
    max-width: 1400px;
    min-height: 400px;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        min-height: 700px;
    }
}

.screenshotsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.embla__slide, .is-snapped, .is-in-view, .embla__slide__img {
    border: 2px solid blue;
}

.gameReviewStats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button); 
    width: 100%;
    max-width: 1400px;
    height: 400px;
    margin-bottom: 25px;
}

.statsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.statsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.stat {
    color: var(--button);
}

.scoreContainer {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

.score, .totalReviews {
    font-family: var(--font-roboto), sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.gameReviewsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button); 
    width: 100%;
    max-width: 1400px;
    min-height: 400px;
    margin-bottom: 25px;
}

.reviewContainer {
    min-height: 200px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: 800px) {
        max-width: 725px;
        justify-content: start;
    }

    @media screen and (min-width: 1175px) {
        max-width: 1100px;
        justify-content: start;
    }
}

.userReviewContainer, .userReviewContainer > .review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reviewsTitle, .otherReviewsTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.otherReviewsTitle {
    margin-top: 50px;
}

.submitReviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    border-radius: 2px;
    padding: 50px 25px;
    box-shadow: 0px 0px 8px 8px var(--button); 
    width: 100%;
    max-width: 1400px;
    min-height: 400px;
    margin-bottom: 25px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    width: 70%;
}

.submitReviewTitle {
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.inputLabel {
    font-family: var(--font-roboto), sans-serif;
    font-size: 20px;
    margin: 25px 0 25px 0;
}

#reviewScoreInput, #reviewInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid var(--button);
    border-radius: 2px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    color: var(--foreground);
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    }
}

#reviewInput {
    min-height: 200px;
}

.button {
    padding: 5px 20px;
    font-family: var(--font-roboto), sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 25px;
    color: var(--foreground);
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}