.addGameMain {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.addGameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    padding: 50px 25px 25px 25px;
    border-radius: 2px;
    width: 100%;
    max-width: 1325px;
    min-height: 600px;
    gap: 50px;
    border: 2px solid (rgba(255, 255, 255, 0.2));
    box-shadow: 10px 10px 10px 5px black;
    margin-bottom: 50px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 98%;
    max-width: 500px;
}

.title {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 85%;
}

#searchGameTitleInput, #searchLimitInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    }
}

#addGameTitleInput {
    transition: all 0.2s ease-in-out;
    &:hover::placeholder {
        color: rgba(255, 255, 255, 0.5);

    }


    &:focus::placeholder {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.2s ease-in-out;
    }
}

.searchGameLabel {
    text-align: left;
    width: 100%;
    padding-left: 7%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.searchGameButton {
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}

.gameDataContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.gameData {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 425px));
    grid-gap: 25px;
    justify-content: center;
}

.gameCard {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--sub-background);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    box-shadow: 10px 10px 10px 5px black;
}

.gameTitle {
    font-family: "Rubik", sans-serif;
    font-style: bold;
    font-size: 24px;
    text-align: center;
}

.gameRelease {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.gameInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.gameArtBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 375px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.gameArt {
    object-fit: contain;
    border-radius: 2px;
    overflow: hidden;
}

.deleteRow {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.deleteIcon {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--button);
        transform: scale(1.1);
    }
}