.addGameMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addGameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    padding: 50px 25px 25px 25px;
    border-radius: 2px;
    width: 350px;
    min-height: 600px;
    gap: 50px;
    border: 2px solid (rgba(255, 255, 255, 0.2));
    box-shadow: 10px 10px 10px 5px black;
    margin-bottom: 25px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 85%;
}

#searchGameTitleInput, #searchLimitInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    }
}

#addGameTitleInput {
    transition: all 0.2s ease-in-out;
    &:hover::placeholder {
        color: rgba(255, 255, 255, 0.5);

    }


    &:focus::placeholder {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.2s ease-in-out;
    }
}

.searchGameLabel {
    text-align: left;
    width: 100%;
    padding-left: 22px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.searchGameButton {
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--foreground);
    }

    &:active {
        color: white;
        background-color: var(--sub-background);
        border: 2px solid white;
    }
}

.gameDataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
}

.gameData {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: auto;
    gap: 25px;
}

.gameCard {
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--sub-background);
    border: 2px solid (rgba(255, 255, 255, 0.2));
    border-radius: 2px;
    box-shadow: 10px 10px 10px 5px black;
}

.gameTitle {
    font-family: "Rubik", sans-serif;
    font-style: bold;
    font-size: 24px;
    text-align: center;
}

.gameRelease {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.gameInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gameArtBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 375px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.gameArt {
    object-fit: contain;
    border-radius: 2px;
    overflow: hidden;
}