.addGameMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addGameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sub-background);
    padding: 50px 25px 25px 25px;
    border-radius: 2px;
    width: 350px;
    gap: 50px;
    border: 2px solid (rgba(255, 255, 255, 0.2));
    box-shadow: 10px 10px 10px 5px black;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#addGameTitleInput, .addGameFileInput {
    padding: 10px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        }
    
    &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: var(--foreground);
    outline: none;
    }
}

#addGameTitleInput {
    transition: all 0.2s ease-in-out;
    &:hover::placeholder {
        color: rgba(255, 255, 255, 0.5);

    }


    &:focus::placeholder {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.2s ease-in-out;
    }
}

.addGameLabel {
    text-align: left;
    width: 100%;
    padding-left: 22px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.addGameButton {
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    border: transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: var(--sub-background);
    }
}

.fileNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.fileName {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}